<div class="container">
    <h1>Hello {{user}}</h1>
    <h3>You've just changed your password</h3>
    <p>
        We just wanted to confirm that you've changed your password. If you didn't change your password, give us a call right away at +1-402-935-7733.
        It’s important that you let us know because it helps us prevent unauthorised persons from accessing the PayPal network and your account information.
    </p>
    <p>
        Tips to help protect your password:

        Never share your password or security questions with anyone.
        Create passwords that are hard to guess and don't use personal information. Be sure to include uppercase and lowercase letters, numbers, and symbols.
        Use different passwords for each of your online accounts.

        Sincerely,
    </p>
</div>
