<div class="container">
    <h1>Hello {{user}}</h1>
    <h3>Verification code to reset password</h3>
    <p>
        To reset your password, enter this verification code when prompted: <strong>{{token}}</strong>

        Thanks,
    </p>

</div>
